{% extends 'base.html.twig' %}

{% block title %}
  Home
{% endblock %}

{% block body %}
  <section class="purple screen">
  <div>
  <h1>Welcome, {{ user.username }}!</h1>

  <h2>Your Rooms:</h2>
  {% if (rooms|length) > 0 %}
    <ul class="table">
      {% for room in rooms %}
        <li class="item">
          <a href="{{ path('app_room_show', { id: room.id }) }}" class="white">{{ room.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You are not a member of any rooms yet.</p>
  {% endif %}

  <a href="{{ path('app_logout') }}" class="red">Logout</a>
  </div>
  </section>

{% endblock %}
